html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    -ms-overflow-style: none;
    background: paint(squares);
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

#canvas-basic {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#xenia-down {
    padding-left: 20px;
    padding-top: 10px;
    margin-right: 50px;
    position: absolute;
    font-size: 45px;
    font-weight: bold;
    color: #8C8C8C;
}

#xenia-up {
    top: 15px;
    padding-left: 5px;
    position: absolute;
    font-size: 45px;
    font-weight: bold;
}

#profile-box {
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
}

#profile-content {
    margin-top: 80px;
}

#intr {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.glass {
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
}

#content-1 {
    padding: 25px 25px 0px 25px;
}

#content-2 {
    padding: 0px 25px 0px 25px;
}

#content-3 {
    padding: 0px 25px 0px 25px;
}

#project-content {
    padding: 6px;
}

.item {
    padding: 10px;
}

.logo {
    border-radius: 10px;
}

#logo-content {
    overflow: hidden;
    padding: 6px;
}

.owl-dots {
    display: none;
}

#dev-content {
    padding: 12px;
}

.icon-table {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.icon {
    width: 60px;
    height: 60px;
    opacity: .8;
    padding: 0 !important;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding: 1rem;
    line-height: 1;
}

.icon > i {
    font-size: 30px;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.3);
    opacity: 1;
}

.cate {
    font-size: 24px;
}

.sns {
    padding: 12px;
}

.sns a {
    color: #383A3F;
    text-decoration: none;
    font-size: 24px;
    margin-right: 12px;
}

ul > li > a, ul > li > h5 {
    font-weight: bold;
}

ul > li > p {
    font-size: 14px;
}

@media only screen and (min-width: 1224px) {
    .item {
        display: block;
        width: 40px;
        padding: 0px !important;
        margin: 0px !important;
    }
}